body {
  background-color: pink;
}

.card {
  background-color: white;
  width: 350px;
  height: 500px;
  margin: auto;
  border-radius: 15px;
  box-shadow: 2px 2px 10px grey;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.number {
  align-self: center;
  font-size: 130px;
}

.symbol {
  margin: 15px 30px;
  font-size: 130px;
}
.up {
  align-self: flex-start;
}
.down {
  align-self: flex-end;
}

.by {
  display: flex;
  justify-content: center;
  padding-top: 150px;
}
