body {
  background-color: pink;
}

.col {
  position: relative;
}
.card {
  background-color: white;
  width: 350px;
  height: 500px;
  margin: auto;
  border-radius: 15px;
  box-shadow: 2px 2px 10px grey;
  margin-top: 50px;
}

p.number {
  position: absolute;
  font-size: 180px;
  margin: 150px 130px 150px 130px;
}

.symbol {
  font-size: 8.5rem;
  height: 0.1rem;
  color: red;
  position: absolute;
}

.symbol.up {
  width: 3.75rem;
  margin-left: 15px;
}

.symbol.down {
  margin: 350px 20px 150px 265px;
}
